<!-- mostrarPartido2() -->
<!DOCTYPE html>
<html>
{% load i18n %}
<head>
<meta charset="UTF-8"/>
<link rel="stylesheet" href="static/pantallaPong.css"/>
<link rel="icon" type="image/x-icon" href="static/favicon.ico">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
<script>
// Función que se ejecuta cuando se presiona una tecla
function detenerDesplazamientoConFlechas(event) {
    // Verificar si la tecla presionada es alguna de las flechas (arriba, abajo, izquierda, derecha)
    if (event.key === 'ArrowUp' || event.key === 'ArrowDown' || event.key === 'ArrowLeft' || event.key === 'ArrowRight') {
        // Prevenir la acción predeterminada del navegador, que sería desplazar la página
        event.preventDefault();
    }
}

// Agregar un escuchador de eventos al documento para el evento 'keydown'
document.addEventListener('keydown', detenerDesplazamientoConFlechas);

vDebug = false;

idPartido = '{{ idPartido }}'; // enviado por el servidor al generar el html
numJugador = '{{ numJugador }}'; // 1 o 2 // jugador 1 a la izquierda -- jugador 2 a la derecha
myLanguage = "{{ myLanguage }}"; 

anchoPantalla = window.innerWidth;
altoPantalla = window.innerHeight;
if (altoPantalla > 2000)
  alto = altoPantalla;
else if (altoPantalla > 1000)
  alto = altoPantalla/2 - 200;
else
  alto = altoPantalla/2;
if (anchoPantalla > 1750)
  ancho = anchoPantalla + 1600;
else if (anchoPantalla > 1500)
  ancho = anchoPantalla + anchoPantalla - 1400;
else if (anchoPantalla > 1250)
  ancho = anchoPantalla;
else if (anchoPantalla > 1000)
  ancho = anchoPantalla - 700;
else if (anchoPantalla > 750)
  ancho = anchoPantalla/2;
else if (anchoPantalla > 500)
  ancho = anchoPantalla/2 - 250;
else
  ancho = anchoPantalla/3 + 10;


limiteDuracionPartido = "{{ limiteHoraPartido }}";
limitePuntosPartido = "3";

aj_keys = "aj_keys";
aj_status = "aj_status";

campo = { ancho: 800, alto: 400  };
sep = 15; // separación del jugador con el fondo de la pista
raqueta = { ancho: 10, alto: 80 };
pelota = { ancho: 15, alto: 15 };

margen = { arriba: 165 + alto/4, izq: 30 + ancho/5 };
red = { ancho: 15, alto: campo.alto };

jugador1X0 = 0 - campo.ancho / 2 + sep; // 0 = centro
jugador2X0 = 0 + campo.ancho / 2 - sep; // 0 = centro
var jugador1Y0 = 0; // 0 = centro
var jugador2Y0 = 0; // 0 = centro

var stop = false;

function jugadorY(ay) { // ay = 0 = centro,  [-alto / 2, +alto / 2]
   return margen.arriba + campo.alto / 2 + ay;
}

function transXY(ax, ay) {
   // ax = 0 = centro,  [-ancho / 2, +ancho / 2] 
   // ay = 0 = centro,  [-alto / 2, +alto / 2]
   var v = { x : margen.izq + campo.ancho / 2 + ax, y : margen.arriba + campo.alto / 2 + ay };
   return v;
}

function setPosition(obj, x, y) {
   obj.css({top: y + 'px', left: x + 'px', position: 'absolute'});
}

function setSize(obj, w, h) {
   obj.css("width",w);
   obj.css("height",h);
}

function setX(obj, x) {
   obj.css({left: x + 'px', position: 'relative'});
}

function coloca() {
  var oTabla = $("#tabla");
  setX(oTabla, campo.ancho / 2);
  //
  var oSepara = $("#separa");
  setSize(oSepara, 1, campo.alto);
  //
  var oCampo = $("#campo");
  setPosition(oCampo, margen.izq, margen.arriba);
  setSize(oCampo, campo.ancho, campo.alto);
  //
  var oRed = $("#red");
  setPosition(oRed, margen.izq + campo.ancho / 2 - red.ancho / 2, margen.arriba);
  setSize(oRed, red.ancho, red.alto);  
  //
  var oJugador1 = $("#jugador1");
  var xyJugador1 = transXY(jugador1X0, jugador1Y0);
  setPosition(oJugador1, xyJugador1.x - raqueta.ancho / 2,  xyJugador1.y - raqueta.alto / 2);
  setSize(oJugador1, raqueta.ancho, raqueta.alto);  
  //
  var oJugador2 = $("#jugador2");
  var xyJugador2 = transXY(jugador2X0, jugador2Y0);
  setPosition(oJugador2, xyJugador2.x - raqueta.ancho / 2,  xyJugador2.y - raqueta.alto / 2);
  setSize(oJugador2, raqueta.ancho, raqueta.alto);  
  //
  var oPelota = $("#pelota");
  var xyPelota = transXY(0, 0);
  setPosition(oPelota, xyPelota.x - pelota.ancho / 2,  xyPelota.y - pelota.alto / 2);
  setSize(oPelota, pelota.ancho, pelota.alto);  
  //
  if (numJugador == 1)
      $("#marca1").text("*");
  else if (numJugador == 2) 
      $("#marca2").text("*");
  //    
  var oInfo = $("#info");
  setX(oInfo, campo.ancho / 2 - 20)
  $("#limitePuntosPartido").text(limitePuntosPartido);
  $("#limiteDuracionPartido").text(limiteDuracionPartido);
}

var nOk = 0;
var nErr = 0;

var sendingKey = false;

function sendInfoToServer(key) {
   sendingKey = true;
   // text: down_begin, down_end, up_begin, up_end
   var mensaje = idPartido.toString() + ";" + numJugador.toString() + ";" + key; // <<
   var obj1 = { "mensaje": mensaje }; 
   $.ajax({
        url:   aj_keys,    // url que recibe la peticion
        type:  'POST',    // metodo de envio
        // contentType: 'application/json',
        data:  obj1, // datos json que se envian a traves de ajax al servidor
        dataType: 'json',
        success: function (response) { // una vez que la url recibe el request lo procesa y devuelve response (vacio)
              nOk++;
              if (vDebug) {
                  $("#getPostKeyOk").text("post key  ok --" + nOk);
              }
              sendingKey = false;
         },
         error:  function (error) { 
              nErr++;
              $("#getPostKeyErr").text("post key error -- " + nErr + " -- " + error.toString() );
              sendingKey = false;
          }
   });
   //sendingKey = false;
}

var mensaje2 = " ";

 function getCommandsFromServer() {
   var mensaje = idPartido.toString() + ";" + myLanguage; // <<
   var obj1 = { "mensaje": mensaje };
   $.ajax({
        url:   aj_status,    // url que recibe la peticion
        type:  'POST',         // metodo de envio
       // contentType: 'application/json',
        data:  obj1, // datos json que se envian a traves de ajax al servidor
        dataType: 'json',
        success: function (response) { // una vez que la url recibe el request lo procesa y devuelve response
              mensaje = response['mensaje'].toString();
              mensaje2 = response['mensaje'].toString();
              nOk++;
              if (vDebug) {
                  $("#getPostStatusOk").text("post status ok --" + nOk + " -- " + mensaje);
              }
              processCommands(mensaje); // procesa el mensaje con la lista de comandos

         },
         error:  function (error) { 
              nErr++;
              $("#getPostStatusErr").text("post status error -- " + nErr + " -- " + error.toString() );
          }
    });
    if (mensaje2) {
      return mensaje2;
    }
    return " ";
}

function processCommands(comandos) {    
    // String comandos
    var arrayCom = comandos.split(";");
    var sizeCom= arrayCom.length;
    for (var n = 0; n<sizeCom; n++) {
        var parte = arrayCom[n];
        var arrayParte = parte.split(",");
        var sizeParte = arrayParte.length;
        if (arrayParte[0]=="pcxy" && sizeParte>=3) {
          var x = Number(arrayParte[1]);        
          var y = Number(arrayParte[2]);  
          var xyPelota = transXY(x, y);
          var oPelota = $("#pelota");
          setPosition(oPelota, xyPelota.x - pelota.ancho / 2,  xyPelota.y - pelota.alto / 2); 
          oPelota.show();
          continue;
        }
         if (arrayParte[0]=="pb" && sizeParte>=1) {
          var oPelota = $("#pelota");
          oPelota.hide();          
          continue;
        }
        if (arrayParte[0]=="j1cy" && sizeParte>=2) {
          var y = Number(arrayParte[1]);        
          var xyJugador1 = transXY(jugador1X0, y);
          var oJugador1 = $("#jugador1");
          setPosition(oJugador1, xyJugador1.x - raqueta.ancho / 2,  xyJugador1.y - raqueta.alto / 2);
          continue;      
        }
        if (arrayParte[0]=="j2cy" && sizeParte>=2) {
          var y = Number(arrayParte[1]);        
          var xyJugador2 = transXY(jugador2X0, y);
          var oJugador2 = $("#jugador2");
          setPosition(oJugador2, xyJugador2.x - raqueta.ancho / 2,  xyJugador2.y - raqueta.alto / 2);
          continue;      
        }
        if (arrayParte[0]=="j1m" && sizeParte>=2) {
          var puntos = arrayParte[1];        
          var oMarcador1 = $("#marcador1");
          oMarcador1.text(puntos);
          continue;      
        }
        if (arrayParte[0]=="j2m" && sizeParte>=2) {
          var puntos = arrayParte[1];        
          var oMarcador2 = $("#marcador2");
          oMarcador2.text(puntos);
          continue;      
        }
        if (arrayParte[0]=="j1n" && sizeParte>=2) {
          var nombre = arrayParte[1];        
          var oNombre1 = $("#nombre1");
          oNombre1.text(nombre);
          continue;      
        }
        if (arrayParte[0]=="j2n" && sizeParte>=2) {
          var nombre = arrayParte[1];        
          var oNombre2 = $("#nombre2");
          oNombre2.text(nombre);
          continue;      
        }
        if (arrayParte[0]=="e" && sizeParte>=2) {
          var estado = arrayParte[1];        
          var oEstado = $("#estado");
          oEstado.text(estado);
          continue;      
        }
        if (arrayParte[0]=="stop") {
            stop = true;
            $("#b_volver").show();
        }
   }
}

var upArrow = false;
var downArrow = false;

function setKeydown() {
    document.addEventListener('keydown', function(e) { // key begin
        // up arrow 
        if (e.which === 38 && ! upArrow) {
            upArrow = true;
            sendInfoToServer("up_begin");
      }
      // down arrow
      else if (e.which === 40 && ! downArrow) {
          downArrow = true;
          sendInfoToServer("down_begin");
     }
   } );
}

function setKeyup() {
    document.addEventListener('keyup', function(e) { // key end
        // up arrow
        if (e.which === 38 && upArrow) {
            upArrow = false;
            sendInfoToServer("up_end");
      }
      // down arrow
      else if (e.which === 40 && downArrow) {
            downArrow = false;
            sendInfoToServer("down_end");
     }
   } );
}
coloca();

function loop() {
    if (stop) return;
    if (! sendingKey)  getCommandsFromServer();
    requestAnimationFrame(loop); // al siguiente frame ejecuta loop
}

tmp = "";
cont = 0;

function loop2() {
    if (stop) return;
    let temp2 = "";
    if (! sendingKey)  {
      temp2 = getCommandsFromServer();
      if (temp2 === tmp)
      {
        cont++;
      }
      else
      {
        cont = 0;
      }
    }
    tmp = temp2;
    if (cont === 80 && limiteDuracionPartido === "")
    {
      var hrefValue = localStorage.getItem('number')
      if (hrefValue === '6')
      {
        window.onbeforeunload = guardarEstadoHome2();
        history.pushState({ view: "home" }, null, "/");
        localStorage.setItem('number', 1);
      }
      if (hrefValue === '11')
      {
        window.onbeforeunload = guardarEstadoHome2();
        history.pushState({ view: "home" }, null, "/");
        localStorage.setItem('number', 1);
      }
      window.location.href = '/';
      sendInfoToServer("stop");
    }
    setTimeout(loop2, 40);
}

$(document).ready(function(){
      var jugadorNum = parseInt('{{ numJugador }}'); // Asegúrate de que numJugador se pasa correctamente al JavaScript

      // Selector para determinar cuál pala controlar
      var selectorPala = (jugadorNum === 1) ? '.jugador1' : '.jugador2';
      var ultimaPosicionY = $(selectorPala).offset().top; // Guardar la última posición Y para comparar

      $(selectorPala).on('touchstart', function(e) {
          e.preventDefault(); // Prevenir cualquier comportamiento por defecto al iniciar el toque
      });
      $(selectorPala).on('touchmove', function(e) {
        e.preventDefault();
        var touchLocation = e.targetTouches[0];
        var pala = $(this);
        var nuevaPosicionY = touchLocation.pageY - $(window).scrollTop() - pala.height() / 2;

        // Limita el movimiento dentro del área del juego
        var limiteSuperior = $('#campo').position().top;
        var limiteInferior = limiteSuperior + $('#campo').height() - pala.height();
        nuevaPosicionY = Math.max(limiteSuperior, Math.min(nuevaPosicionY, limiteInferior));

        // Simula tecla arriba o abajo basado en el movimiento
        var tecla = '';
        if (nuevaPosicionY < ultimaPosicionY) {
            tecla = 'up_begin';
        } else if (nuevaPosicionY > ultimaPosicionY) {
            tecla = 'down_begin';
        }

        // Actualizar la posición visual de la pala
        pala.css('top', nuevaPosicionY + 'px');
        ultimaPosicionY = nuevaPosicionY; // Actualiza la última posición conocida

        // Si se detectó un movimiento relevante, enviar la tecla al servidor
        if (tecla !== '') {
            sendInfoToServer(tecla);
        }

         // Prevenir el comportamiento por defecto del touchmove
    });

    $(window).on('resize', function(){
        actualizarPosiciones();
    });
    $(document).on('DOMContentLoaded', function(){
        actualizarPosiciones();
    });
    function actualizarPosiciones() {
        // Recalcular las dimensiones del campo
        anchoPantalla = window.innerWidth;
        altoPantalla = window.innerHeight;
        // Recalcula las dimensiones del campo de juego
        if (altoPantalla > 2000)
          alto = altoPantalla;
        else if (altoPantalla > 1000)
          alto = altoPantalla/2 - 200;
        else
          alto = altoPantalla/2;
        if (anchoPantalla > 1750)
          ancho = anchoPantalla + 1600;
        else if (anchoPantalla > 1500)
          ancho = anchoPantalla + anchoPantalla - 1400;
        else if (anchoPantalla > 1250)
          ancho = anchoPantalla;
        else if (anchoPantalla > 1000)
          ancho = anchoPantalla - 700;
        else if (anchoPantalla > 750)
          ancho = anchoPantalla/2;
        else if (anchoPantalla > 500)
          ancho = anchoPantalla/2 - 250;
        else
          ancho = anchoPantalla/3 + 10;
        campo = { ancho: 800, alto: 400  };
        sep = 15; // separación del jugador con el fondo de la pista
        raqueta = { ancho: 10, alto: 80 };
        pelota = { ancho: 15, alto: 15 };

        margen = { arriba: 165 + alto/4, izq: 30 + ancho/5 };
        red = { ancho: 15, alto: campo.alto };

        jugador1X0 = 0 - campo.ancho / 2 + sep; // 0 = centro
        jugador2X0 = 0 + campo.ancho / 2 - sep; // 0 = centro
        var jugador1Y0 = 0; // 0 = centro
        var jugador2Y0 = 0; // 0 = centro
        // Recalcula las posiciones de los elementos
        coloca();
    }
    setKeydown();
    setKeyup();
    loop2();
});

</script>
</head>
<body>

<table id="tabla" align="center">
<tr><td id="estado" colspan="2" width="200" align="center">&nbsp;</td></tr>
<tr><td id="marca1" width="100" align="center">&nbsp;</td><td id="marca2" width="100" align="center">&nbsp;</td></tr>
<tr><td id="nombre1" align="center">&nbsp;</td><td id="nombre2" align="center">&nbsp;</td></tr>
<tr><td id="marcador1" align="center">&nbsp;</td><td id="marcador2" align="center">&nbsp;</td></tr>
</table>
<img src="static/img_w.png" id="separa" height="400" width="1"/>

<!--
<p>Comandos:</p>
<input type="text" id="t_comandos" size="100" value=""/>
<button id="b_comandos">hacer comandos</button>
-->

<!-- <a href="{% url 'home' %}" class="btn btn-primary links" onclick="pushStateFunction()">{% trans "Home" %}</a> -->

<!--
<p>
Formato: comando1,arg1, ... ;comando2, arg1, ...<br/>
pcxy (x, y) = pelota-coord-x-y; pb = pelota-borrar; e (texto) = estado; stop<br/>
j1cy (y) = jugador-1-coord-y; j2cy (y) = jugador-2-coord-y;<br/>
j1m (n) = jugador-1-marcador; j2m (n) = jugador-2-marcador;<br/>
j1n (texto) = jugador-1-nombre; j2n (texto) = jugador-2-nombre;<br/>
Ejemplo: pcxy,55,-88; j1cy,77; j2cy,-99; j1m,5; j2m,3; j1n,Pepe; j2n,Luis; e,Jugando
</p>
-->

<!-- campo naranja-->
<img src="static/img_o.png" id="campo"/>

<!-- red cian -->
<img src="static/img_y.png" id="red"/>

<!-- jugador 1 azul-->
<img src="static/img_b.png" id="jugador1" class="paddle jugador1"/>

<!-- jugador 2 rojo-->
<img src="static/img_r.png" id="jugador2" class="paddle jugador2"/>

<!-- pelota -->
<img src="static/img_pg.png" id="pelota"/>

<div id="info">
  <table>
  <tr id="limiteDuracionPartidoRow"><th>D:</th><td id="limiteDuracionPartido"></td>
  </tr>
  <tr>
    <th>P:</th><td id="limitePuntosPartido"></td>
  </tr>
  </table>
</div>

</body>
</html>
